<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>com.donebysimon.timemachine-mount-run-unmount</string>
		<key>Program</key>
		<string>/usr/local/bin/timemachine-mount-run-unmount.sh</string>
		<key>StandardErrorPath</key>
		<string>/tmp/com.donebysimon.timemachine-mount-run-unmount.log</string>
		<key>StandardOutPath</key>
		<string>/tmp/com.donebysimon.timemachine-mount-run-unmount.log</string>
		<key>StartCalendarInterval</key>
		<dict>
			<key>Hour</key>
			<integer>1</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
	</dict>
</plist>
